@use'../custom' as *;



.contact-us {
    margin-top: 50px;
   
   
}


.contact-us
p {
    color: #fff
}

.contact-us{
    color: rgb(242, 248, 246);
}



.address {
    margin-top: 14px !important;
    margin-left: 10px
}

.address span {
    color: #82d1a2
}

.icons {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center
}

.icons i {
    font-size: 20px
}


.inputs input {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid rgb(225, 219, 219)
}

.inputs input:focus {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #86e1cc;
    box-shadow: none
}

.inputs textarea {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #eee;
    width: 100%;
    resize: both;
}

.label textarea{
  
    border: none;
    border-bottom: 2px solid #6e7b79;
    box-shadow: none;
    resize: both


}

.btn button{
    border: none;
}




.contact-section{
    background:linear-gradient(to bottom,rgba($yellow,0.95),rgba($teal,0.95));
    padding:50px;
    width: 100%;
    height: 100%;
    margin: 0%;


  
}


.contact-info{
    background:$dark;
    padding:100px;
    width: 100%;
    height: 100%;
   
}
.map{
margin-top: 60px;


}

.text-center h2{
    margin-top: 130px;
    color: rgb(114, 123, 28);
}

.mb-5{
    color: rgb(69, 69, 66);
}

.container .py-4{
    background-color: #1d2020;
    margin-top: 50px;
}


.icons{
    margin-left: 20px;

}
