@use '../custom' as*;

.btn-rounded{

@include media-breakpoint-down(sm){
 display:none; 
}
   position:relative;
   padding: 0.9375rem 4.375rem 0.9375rem 1.25rem;
   font-weight: 500;
   margin: 0;
   margin-bottom: 1.3rem;
   border: 0.02rem solid $white;
   background: white;
   font-family: 'Handlee', cursive;



   span{
       position: absolute;
       background-color: $green;
       width: 2.5rem;
       height:2.5rem;
       top: 15%;
       right:0 ;
       transform: translate(-50%);
       border-radius: 60%;

       i{
         color:$white ; 
         font: size 1rem; 
         line-height: 2.5rem; 
         

       }

   }

   &:hover{
       background-color: $teal;
       color: $white ;
      

   }

}

.btn-rounded2{

  @include media-breakpoint-down(sm){
    display:none; 
   }
      position:relative;
      padding: 0.9375rem 4.375rem 0.9375rem 1.25rem;
      font-weight: 500;
      margin-top: 50px;
     
      border: 0.02rem solid $white;
      background: white;
      font-family: 'Handlee', cursive;


      
   span{
    position: absolute;
    background-color: $green;
    width: 2.5rem;
    height:2.5rem;
    top: 15%;
    right:0 ;
    transform: translate(-50%);
    border-radius: 60%;

    i{
      color:$white ; 
      font: size 1rem; 
      line-height: 2.5rem; 
      

    }

}

&:hover{
    background-color: $teal;
    color: $white ;
   

}


}

.btn{
  font-family: 'Handlee', cursive;
}
